<!DOCTYPE html>
<html lang="en">
<head>
  <!-- import the common html file to the current html file -->
  <%= require('html-loader!./layout/head-common.html') %>
  <title>Home</title>
</head>

<body>
  <div>
    <a class="link" href="">ok</a>
  </div>
  <div>
    <a href="" class="btn">test</a>
    <a href="" class="btn btn-mini">test</a>
  </div>
  <div>
    <a href="" class="loading"></a>
  </div>
  <div>
    <i class="fa fa-user"></i>
  </div>
  <%= require('html-loader!./layout/footer-common.html') %>
</body>
</html>