<div class="nav">
  <div class="w">
    <div class="user-info">
      <span class="user not-login">
        <span class="link js-login">LOGIN</span>
        <span class="link js-register">REGIST</span>
      </span>
      <span class="user login">
        <span class="link-text">Welcome, 
          <span class="username"></span> 
        </span>
        <span class="link js-logout">Logout</span>
      </span>
    </div>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./cart.html" class="link">
          <i class="fa fa-shopping-cart"></i>
          Cart(<span class="cart-count"></span>)
        </a>
      </li>
      <li class="nav-item">
        <a class="link" href="./order-list.html">Orders</a>
      </li>
      <li class="nav-item">
        <a class="link" href="./user-center.html">User</a>
      </li>
      <li class="nav-item">
        <a class="link" href="./about.html">About</a>
      </li>
    </ul>
  </div>
</div>









