/*
* @Author: RickHuang
* @Date:   2019-10-16 11:45:04
* @Last Modified by:   RickHuang
* @Last Modified time: 2019-10-16 11:56:12
*/

.nav-simple {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.nav-simple .logo {
  font-size: 26px;
  font-weight: bold;
  color: #c60023;
  text-decoration: none;
}